/* projectId.module.css */

/* Container Styling */
.projects {
  padding: 10px;
}

.title {
  text-align: center;
  font-size:20px;
}
.entriesTitle{
  font-size:15px;
  margin-bottom:5px;
}

/* Button Styling */
.saveButton,
.startButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton:hover,
.startButton:hover {
  background-color: #005bb5;
}

/* Excel Input Styling */
.excelInput {
  margin-bottom: 20px;
}

/* Additional Info Cell */
.additionalInfoCell {
  position: relative;
}

.infoBlock {
  padding: 5px;
  margin: 3px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.set {
  background-color: #a5d6a7; /* Green when set */
  color: #155724;
}

.required {
  background-color: #f8d7da; /* Red when required but not set */
  color: #721c24;
}

.addBlock {
  background-color: #42a5f5;
  color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.additionalInfoDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 100;
}

.dropdownItem {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

/* Generated Content Cell */
.generatedContentCell {
  max-width: 300px;
  height: 10px;
  overflow-y: hidden;
}

.generatedContent {
  display: block;
  overflow-y: scroll;
  height: 100px;
}

/* Global Actions Container */
.globalActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.selectionInfo {
  font-size: 16px;
}

.selectionActions,
.bulkActions {
  display: flex;
  gap: 10px;
}

.selectionActions button,
.bulkActions button {
  padding: 8px 12px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selectionActions button:hover,
.bulkActions button:hover {
  background-color: #005bb5;
}

/* Modal Styles */
.modal {
  display: block;
  position: fixed;
  z-index: 2000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}

.modalContent h2 {
  margin-top: 0;
}

.modalContent .close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.modalContent label {
  display: block;
  margin-top: 10px;
}

.modalContent input,
.modalContent select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.saveButton {
  margin-top: 20px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #218838;
}
.selectionActions select {
  padding: 5px;
  border-radius: 5px;
}
