/* components/trello-audit/CardList.module.css */
.cardContainer {
    width: 20%;
    border-right: 1px solid #ccc;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

  }
  
  .autoSyncLabel {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .autoSyncCheckbox {
    margin-right: 5px;
    cursor: pointer;
  }
  .u-fancy-scrollbar {
    -webkit-overflow-scrolling: touch;
    scrollbar-color: var(--ds-background-neutral-hovered, #091e4224) var(--ds-background-neutral, #091e420f);
    scrollbar-width: thin;
    -webkit-transform: translateZ(0);
}
  .cardList {
    overflow-y: auto;
    height: 85vh;
    scrollbar-color:#091e4224 #091e420f;
    scrollbar-width: thin;
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;
    background-color:#f1f2f4;
    border-radius:5px;

  }

  .cardList::-webkit-scrollbar-track-piece {
    background: #091e420f;
}
.cardList::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
  .cardItem {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #eaeaea;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    margin:5px 0px;
    background-color:white;
    border:1px solid white;
  }
  
  .cardItem:hover {
    background-color: #e1e1e1;
    border:1px solid blue;
  }
  
  .cardContent {
    display: flex;
    align-items: center;
  }
  
  .authorIcon {
    background-color: #0070f3;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: bold;
    flex-shrink: 0;
  }
  
  .activeCardItem {
    background-color: #0070f3;
    color: #fff;
  }
  
  .activeCardItem .authorIcon {
    color: #0070f3;
    background-color: #fff;
  }
  
  .activeCardItem:hover {
    background-color: #005bb5;
    color: #fff;
  }
  