
  
  
/* components/trello-audit/Timeline.module.css */
.timelineContainer {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .timelineWrapper {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
  }
  
  .timeline {
    display: flex;
    align-items: center;
    position: relative;
    animation: slideIn 1s ease-out;
  }
  
  .timelineItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    cursor: pointer;
    animation: fadeInUp 0.5s ease-out;
  }
  .checklistItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .checklistItem input[type='checkbox'] {
    margin-right: 5px;
  }
  
  
  .timelineItem:not(:last-child) .line {
    position: absolute;
    top: 25px;
    left: 50%;
    width: calc(100% + 20px);
    height: 2px;
    background-color: #ccc;
    z-index: -1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border:1px solid #0070f3;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  .activeTimelineItem .circle {
    background-color: #0070f3;
    border:1px solid #0070f3;
  }
  
  
  
  .stepName {
    font-size: 12px;
    text-align: center;
    padding: 5px 5px;
    white-space: nowrap;
  }
  /* In components/trello-audit/Timeline.module.css */

.filterContainer {
    margin-bottom: 10px;
  }
  .cardTabs {
    display: flex;
    flex-wrap: wrap;
  }
  .cardTab {
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cardTab:hover {
    background-color: #e1e1e1;
  }
  
  .activeTab {
    background-color: #0070f3;
    color: #fff;
  }
  
  .cardLink {
    text-decoration: none;
    color: inherit;
  }
  .filterContainer label {
    margin-right: 5px;
  }
  
  .membersContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    overflow-x: auto;
    box-shadow: 0px 2px 3px 1px #cfcfcf;
    padding: 5px 5px;
    min-height: 50px;
  }
  
  .memberIcon {
    background-color: #ccc; /* Default background */
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  .activeMemberIcon {
    /* No need to change background color since it's based on user color */
    border: 2px solid #000; /* Add border to indicate active state */
  }
  
  .memberIcon:hover {
    background-color: #005bb5;
  }
  
  .detailsContainer {
    margin-top: 20px;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    border-radius: 4px;
  }
  
  .closeButton {
    background-color: #f44336;
    color: #fff;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .authorIcon {
    background-color: #0070f3;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-weight: bold;
  }
  
  /* Animations */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-50px);
    }
    to {
      transform: translateX(0);
    }
  }
  .monthHeader {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .activityItem {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    border-left: 1px dashed black;
    padding: 10px;
  }
  
  .loadMoreButton {
    background-color: #0070f3;
    color: #fff;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
  }
  .members{
    margin-right:10px;
  }
  /* Add to Timeline.module.css */

  .loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  
  .loadingSpinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #0070f3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  /* Timeline.module.css */
.cardFilterItem {
    padding: 10px;
     margin-bottom: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  
  .cardFilterItem:hover {
    background-color: #e1e1e1;
  }
  
  .activeCardFilterItem {
    background-color: #0070f3;
    color: #fff;
  }
  /* Timeline.module.css */
/* Timeline.module.css */
.memberActivitiesContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    
  }
  
  .cardFilterContainer, .activityDataContainer {
    box-sizing: border-box;
  }
  
  
  .cardFilterContainer {
    width: 25%;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    height: -webkit-fill-available;
    overflow:auto;
  }
  
  .activityDataContainer {
    width: 75%;
    padding-left: 10px;
    height: -webkit-fill-available;
    overflow:auto;
  }
  

  
  .closeButton:hover {
    background-color: #d32f2f;
  }
    