#resultsTable,#blogsTable {
    width: 100% !important;
    border-collapse: collapse;
    table-layout: fixed; /* Enable fixed table layout */
}

#resultsTable th, #resultsTable td,#blogsTable th, #blogsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap; /* Keeps content in a single line */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis for overflow content */
}
/* Lighter shade of red for significant discrepancies */
.highlight-dark-red {
    background-color: #ff9999!important; /* Lighter red */
}

/* Even lighter shade of red for minor discrepancies */
.highlight-light-red {
    background-color: #ffcccc!important; /* Very light red */
}

		/* Define fixed widths for columns */
		/*#resultsTable th:nth-child(1), #resultsTable td:nth-child(1), tfoot th:nth-child(1) { width: 25%; } /* Keyword */
		/*#resultsTable th:nth-child(2), #resultsTable td:nth-child(2), tfoot th:nth-child(2) { width: 20%; } /* Project Name */
		/*#resultsTable th:nth-child(3), #resultsTable td:nth-child(3), tfoot th:nth-child(3) { width: 10%; } /* Ranking */
		/*#resultsTable th:nth-child(4), #resultsTable td:nth-child(4), tfoot th:nth-child(4) { width: 15%; } /* Location */
		/*#resultsTable th:nth-child(5), #resultsTable td:nth-child(5), tfoot th:nth-child(5) { width: 15%; } /* SERP URL */
		/*#resultsTable th:nth-child(6), #resultsTable td:nth-child(6), tfoot th:nth-child(6) { width: 10%; } /* Search Engine */
		/*#resultsTable th:nth-child(7), #resultsTable td:nth-child(7), tfoot th:nth-child(7) { width: 10%; } /* Scan Date */
		/* Example: Set specific widths for each column */


		#resultsTable tr:nth-child(even),#blogsTable tr:nth-child(even){
			background-color: #f2f2f2;
		}

		#resultsTable tr:hover,#blogsTable tr:hover{
			background-color: #ddd;
		}
		
		/* Style for the loading animation */
        .loader {
            border: 5px solid #f3f3f3; /* Light grey */
            border-top: 5px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        /* Hide the loader initially */
        .loader-container {
            display: none;
            text-align: center;
            padding: 20px;
        }
		
		/* Scrollable container */
		.scroll-container {
			overflow: auto; /* Allows both vertical and horizontal scrolling */
			-webkit-overflow-scrolling: touch;
			/* height: 400px;  Set a fixed height or a max-height */
		}

		.sort-icon {
			font-size: 0.8em; /* Smaller font size for the icons */
			margin-left: 5px; /* Space between header text and icon */
		}

		/* Responsive table layout for mobile devices */
		@media screen and (max-width: 600px) {
			#resultsTable,#blogsTable {
				display: block;
			}

			#resultsTable thead,#blogsTable thead{
				display: none;
			}

			#resultsTable tr,#blogsTable tr{
				display: block;
				margin-bottom: 10px;
			}

			#resultsTable td,#blogsTable td{
				display: block;
				text-align: right;
				position: relative;
				padding-left: 50%;
			}

			#resultsTable td::before,#blogsTable td::before{
				content: attr(data-label);
				position: absolute;
				left: 10px;
				top: 50%;
				transform: translateY(-50%);
				font-weight: bold;
			}
		}
		/* Style for lazy load indicator */
		.lazy-load-indicator {
			text-align: center;
			background-color: #f8f8f8; /* Light background color */
			padding: 10px;
		}
		.sticky-search-bar {
			position: fixed; /* Fixed position */
			top: 0; /* Stick to the top */
			width: 100%; /* Full width */
			background-color: white; /* Background color */
			box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow for a floating effect */
			z-index: 1000; /* Ensure it stays on top of other elements */
			padding: 10px 0; /* Add some padding */
		}

		#searchInput {
			width: 90%; /* Adjust as needed */
			margin: 0 auto; /* Center the search bar */
			display: block; /* Block level */
			padding: 5px; /* Padding for the input */
			border: 1px solid #ddd; /* Border styling */
			border-radius: 4px; /* Rounded corners */
		}

		/* Adjustments for the main content so it doesn't hide behind the sticky bar */
		body {
			padding-bottom: 60px; /* Space equal to the height of the sticky bar */
		}
		tfoot {
			position: fixed;
			bottom: 0;
			width: 100%;
			background-color: white;
			box-shadow: 0 2px 5px rgba(0,0,0,0.2);
			z-index: 1000;
			padding: 10px 0;
		}
		/* Add a class to indicate resizable columns */
        .resizable-column {
            cursor: col-resize;
        }
		/* Add sticky positioning to the table headers */
		#resultsTable thead, #blogsTable thead{
			position: sticky;
			top: 0;
			background-color: white;
			z-index: 1;
		}

		/* Add a border to separate the table headers from the body content */
		#resultsTable thead th,#blogsTable thead th {
			border-bottom: 1px solid #ddd;
		}
		.filter-icon {
        cursor: pointer;
        font-size: 0.8em;
        margin-left: 5px;
    }
    .filter-div {
		display: none;
		
		background-color: #fff;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px;
		z-index: 100; /* Make sure this is above other elements */
	}

    .apply-filter-btn {
        margin-top: 10px;
    }
	.select2-container{
		width:80%!important;
	}
    /* Top panel styles */
#top-panel {
    background-color: #333; /* Dark background */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#top-panel h1 {
    margin: 0;
    font-size: 24px;
}

.user-icon {
    cursor: pointer;
    position: relative; /* This ensures the dropdown is positioned relative to the icon */
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0; /* Align to the right side of the user icon */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-menu a i {
    margin-right: 8px;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}
div#content{
	padding:10px
	}